<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hey there!</h1>
    <p class="lead">This is the main authorization page for the CS496 OAuth 2.0 Implementation project. Please click the button below to log in to your Google+ account. It's safe. Promise.</p>
    <hr class="my-4">
    <p class="lead text-center">
      <a class="btn btn-lg btn-social btn-google"
      href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&access_type=offline&include_granted_scopes=true&state={{state}}&redirect_uri={{uri}}&response_type=code&client_id={{client_id}}" role="button"><span class="fa fa-google"></span> Sign in with Google</a>
    </p>
  </div>
</div>
